<footer class="footer">
  <div class="outer">
    <div class="float-right">
      <%- partial('post/busuanzi') %>
    </div>
    <ul class="list-inline">
      <li>&copy; <%= date(new Date(), 'YYYY') %> <a href="https://github.com/cscx/" target="_blank"><%= config.title %></a></li>
      <li><%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a></li>
    </ul>
  </div>
</footer>
